<h1>Convert <%= @the_symbol %> </h1>

<p>Go <a href="/">back</a>.</p>

<ul>
  <% @currencies.keys.each do |symbol| %>
    <li>
      <a href="/<%= @the_symbol %>/<%= symbol %>">Convert 1 <%= @the_symbol %> to <%= symbol %>...</a>
    </li>
  <% end %>
</ul>
